 <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Portal</title>
</head>
<body>
<p>Welcome to the ultimate destination for finding the perfect job!
    Our platform connects job seekers with top employers across various industries, providing
    a seamless and efficient job search experience. Whether you are looking for a full-time position,
    part-time work, or remote opportunities,
    we have a wide range of job listings to suit your needs.</p>
<img src="{% static 'jobs/images/job_portal1.png' %}" alt="image">
</body>
</html>