{% load static %}
<link rel="stylesheet" href="{% static 'jobs/styles.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{job.job_title}}</title>
</head>
<body>
<h1 id="title">{{ job.job_title }}</h1>
<p id="comp">Company: {{ job.company.name }}</p>
<p id="location">Location: {{ job.location }}</p>
<p>Description: <br><pre>{{ job.description }}</pre></p>
<br>
<p>Requirements: <br><pre>{{ job.requirements }}</pre></p>
<a href ="{% url 'apply' job.id %}">Apply for this job</a>
</body>
</html>