{% load static %}
<link rel="stylesheet" href="{% static 'jobs/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Job Listings</title>


</head>
<body>
<header>
        <div class="header">
            <h1>Job Portal</h1>
            <p>Where talent meets opportunity<br>Start your journey towards success</p>
        </div>
<nav>
    <a href='home.html'>Home</a>
    <a href='categories.html'>Categories
    <ul>
        <li><a href="healthcare.html">healthcare</a></li>
        <li><a href="IT">IT</a></li>
    </ul>
    </a>
    <a href="register.html">Sign in</a>
</nav></header>
<h1>Job Listings</h1>
<ul>{% for job in jobs %}
    <li><a href="{% url 'job_details' job.id %}">{{job.job_title}}</a>
        <br>
        {{ job.company.name }}
        <br>
        {{ job.location }}
        {% if job.image %}
    <img id="image_for_each_job" src="{{ job.image.url }}" alt="Job image for {{ job.job_title }}">
    {% else %}
     <img src="{% static 'jobs/images/default.jpg' %}" alt="Default job image">
     {% endif %}
        </li>
    {% endfor %}

</ul>
</body>
</html>